@using ProductsMVC.Models
@model IEnumerable<LogViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions
    {
    public IList<LogViewModel> SortLogs(IList<LogViewModel> logs)
    {
        var list = from l in logs orderby l.Timestamp select l;
        return list.ToList();

    }
}

<div class="well well-sm"><h1>Product logs</h1></div>
<table class="table table-striped table-bordered table-hover table-responsive">
    <caption>Detailed info</caption>
    <tr>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.ActionDescription)
        </th>
    </tr>
    @foreach (var item in SortLogs(Model.ToList()))
    {
        @*@ShowProduct(item)*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDescription)
            </td>
        </tr>
    }

</table>

